html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #FFFEF8;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  max-width: 1440px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
}

nav li {
  padding: 0 25px;
  font-size: 1.2em;
}

img.insta {
  width: 20px;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav a.active {
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

#contact input,
#connexion input {
  height: 51px;
  font-size: 1em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

#contact,
#connexion {
  max-width: 35%;
  margin: auto;
  margin-top: 50px;
}

#contact > *,
#connexion > * {
  text-align: center;
}

#contact h2,
#connexion h2 {
  margin-bottom: 20px;
}

#contact form,
#connexion form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact label,
#connexion label {
  margin: 2em 0 1em 0;
}

#contact textarea,
#connexion textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input#btn {
  height: 36px;
  cursor: pointer;
}

.gallery img {
  height: 100%;
  object-fit: cover;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  max-width: 1140px;
  margin: auto;
}

.gallery img {
  width: 100%;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}

footer {
  background-color: white;
  height: 60px;
  display: flex;
  flex-direction: row-reverse;
  max-width: 1440px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
  margin-top: 50px;
}

#introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 10px;
}

#introduction figure {
  max-width: 474px;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

article.presentation {
  max-width: 404px;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 1em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1.5em;
}

#filter {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.category {
  border-radius: 60px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1D6154;
  color: #1D6154;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.category,
.category-1 {
  width: 100px;
}

.category-2 {
  width: 157px;
}

.category-3 {
  width: 198px;
}

.category:hover {
  background-color: #1D6154;
  color: white;
}

.category.active {
  border-radius: 60px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1D6154;
  color: white;
  background-color: #1D6154;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

#all,
#Objects {
  width: 100px;
}

#home {
  width: 157px;
}

#hotel {
  width: 198px;
}/*# sourceMappingURL=compilation-public.css.map */