// input#email,
// input#password {
//     max-width: 379px;
// } 
header {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
  margin-top: 50px;
}

main{
    margin: 10% 0;
}

a.mdp {
    color: black;
    font-weight: 500;
}