header {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
  margin-top: 50px;
}

#introduction {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 100px 10px;
}

#introduction figure {
	max-width: 474px;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

article.presentation {
	max-width: 404px;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1.5em;
}

#filter {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 50px;
}

.category {
	border-radius: 60px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #1D6154;
	color: #1D6154;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
}

.category,
.category-1 {
	width: 100px;
}

.category-2 {
	width: 157px;
}

.category-3 {
	width: 198px;
}

.category:hover {
	background-color: #1D6154;
	color: white;
}

.category.active {
	border-radius: 60px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #1D6154;
	color: white;
	background-color: #1D6154;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
}

#all,
#Objects {
	width: 100px;
}

#home {
	width: 157px;
}

#hotel {
	width: 198px;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	max-width: 1140px;
    margin: auto;
}

.gallery img {
	width: 100%;

}